.title{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 32px;
    color: darkred;
    text-align: center;
}

table,td,tr,th {
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    background-color: darkgray;
}

table{
    width: 70%;
    text-align: center;
    margin: auto;
}

.stock{
    font-weight: bold;
    color: red;
}

.resalto{
    font-weight: bold;
    background-color: darkgrey;
}

/* Estilos para añadir productos y clientes */
.mensaje{
    background: #d4edda;
    color: #155724;
    padding: 1em;
    margin-top: 1em;
    border: 1px solid #c3e6cb;
}

