<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Práctica Final - Flask {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <div class="wrapper">

        <!-- Título de la página -->
        {% block title_pag %}
            <div class="title">
                Práctica Final con Flask
            </div>
        {% endblock %}

        <!-- Barra de navegación -->
            <nav class="navbar">
                <div class="link_nav"><a href="{{ url_for('dashboard') }}">Dashboard</a></div>
                <div class="link_nav"><a href="{{ url_for('add_producto') }}">Añadir Producto</a></div>
                <div class="link_nav"><a href="{{ url_for('lista_productos') }}">Lista de Productos</a></div>
                <div class="link_nav"><a href="{{ url_for('registro_usuario') }}">Registro de Usuario</a></div>
                <div class="link_nav"><a href="{{ url_for('lista_usuario') }}">Lista de Usuarios</a></div>
            </nav>

        <!-- Contenido de la página -->
        <div class="contenido">
            {% block content %}
                Contenido por defecto
            {% endblock %}
        </div>
    </div>

    <!-- Footer -->

    <footer>
        <div class="ondas">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div>
            &copy 2025 - Cristóbal Fuentes. - Todos los derechos reservados
        </div>
    </footer>

</body>
</html>