{% extends 'base.html' %}
{% block title %} Flask - Dashboard {% endblock %}


{% block content %}

        <p>Bienvenido al panel de control de la tienda {{ tienda }}</p>
        <p>{{ nombre_admin }}, la fecha de hoy es: {{ fecha }}</p>


        <h3><u>Catálogo de productos registrados en tienda:</u></h3>
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                </tr>

                {% for producto in productos %}
                    <tr>
                        <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }} €</td>
                        <td>{{ producto.categoria }}</td>
                        <td>
                            {% if producto.stock > 0 %}
                                {{ producto.stock }}
                            {% else %}
                                <span class="stock">Sá gastao</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <h4>Hay un total de {{ total_productos }} artículos en stock</h4>


        <p>
            <h3><u>Lista de clientes registrados en el sistema:</u></h3>

            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Estado</th>
                    <th>Número de Pedidos</th>
                </tr>

                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente.nombre }}</td>
                        <td>{{ cliente.email }}</td>
                        <td>
                            {% if cliente.activo == 'Inactivo' %}
                                <span class="stock">{{ cliente.activo }}</span>
                            {% else %}
                                {{ cliente.activo }}
                            {% endif %}
                        </td>
                        <td>{{ cliente.pedidos }}</td>
                    </tr>
                {% endfor %}

                    <tr class="resalto">
                        <td colspan="4">Ahora hay {{ active }} usuarios conectados</td>
                    </tr>

                    <tr class="resalto">
                        <td colspan="4">Cliente con más compras: {{ mas_pedidos['nombre'] }} con {{ mas_pedidos['cantidad'] }} productos</td>
                    </tr>
            </table>

            <h4>El cliente con más pedidos es --&gt;  {{ mas_pedidos['nombre'] }} con {{ mas_pedidos['cantidad'] }} pedidos realizados
            hasta la fecha</h4>
        </p>

        <p>
            <h3><u>Pedidos recientes:</u></h3>

            <table>
                <tr>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Fecha</th>
                </tr>

                {% for pedido in pedidos_clientes %}
                    <tr>
                        <td>{{ pedido['cliente'] }}</td>
                        <td>{{ pedido['total'] }} €</td>
                        <td>{{ pedido['fecha'] }}</td>
                    </tr>
                {% endfor %}

                    <tr>
                        <td class="resalto">Total Ganado</td>
                        <td colspan="3" class="resalto"> {{ ingresos | round(2) }} €</td>
                    </tr>
            </table>

        </p>

{% endblock %}

