{% extends 'base.html' %}
{% block title %} Flask - Dashboard {% endblock %}

{% block title_pag %}
    <div class="title">
        Panel de control {{ tienda }}
    </div>
{% endblock %}

{% block content %}

    <div class="intro_dashboard">
            Hola de nuevo {{ nombre_admin }}, la fecha de hoy es: {{ fecha }}
    </div>

    <div class="section">
        <!-- Mostrar productos -->
        <p>Catálogo de productos registrados en tienda</p>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Stock</th>
            </tr>

            {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }} €</td>
                    <td>{{ producto.categoria }}</td>
                    <td>
                        {% if producto.stock > 0 %}
                            {{ producto.stock }}
                        {% else %}
                            <span class="stock">Agotado</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <th colspan="3">Productos que hay en stock</th>
                    <th>{{ total_productos }}</th>
                </tr>
        </table>

        <!-- Mostrar clientes -->
        <p>Lista de clientes registrados en el sistema</p>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Estado</th>
                <th>Número de Pedidos</th>
            </tr>

            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>
                        {% if cliente.activo == 'Inactivo' %}
                            <span class="stock">{{ cliente.activo }}</span>
                        {% else %}
                            {{ cliente.activo }}
                        {% endif %}
                    </td>

                    <td>{{ cliente.pedidos }}</td>
                </tr>
                {% endfor %}

            <tr>
                <th colspan="4">Ahora hay {{ active }} usuarios conectados</th>
            </tr>

            <tr>
                <th colspan="4">Cliente con más pedidos: {{ mas_pedidos['nombre'] }} con {{ mas_pedidos['cantidad'] }} productos</th>
            </tr>

        </table>

        <!-- Mostrar pedidos -->
        <p>Lista de pedidos recientes</p>
        <table>
            <tr>
                <th>Cliente</th>
                <th>Total</th>
                <th>Fecha</th>
            </tr>

            {% for pedido in pedidos_clientes %}
                <tr>
                    <td>{{ pedido['cliente'] }}</td>
                    <td>{{ pedido['total'] }} €</td>
                    <td>{{ pedido['fecha'] }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th>Total Ganado</th>
                <th colspan="3"> {{ ingresos | round(2) }} €</th>
            </tr>
        </table>
    </div>

{% endblock %}

