{% extends 'base.html' %}
{% block title %} Flask - Detalle de {{ producto.nombre }} {% endblock %}

{% block title_pag %}
    <div class="title">
        Detalle de {{ producto.nombre }}
    </div>
{% endblock %}

{% block content %}
    <div class="section">
            <table>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Stock</th>
                </tr>

                <tr>
                    <td>{{ producto.nombre }}</td>
                        <td>{{ producto.precio }} €</td>
                        <td>{{ producto.categoria }}</td>
                        <td>
                            {% if producto.stock > 0 %}
                                {{ producto.stock }}
                            {% else %}
                                <span class="stock">Agotado</span>
                            {% endif %}
                        </td>
                </tr>
            </table>
    </div>
{% endblock %}