{% extends 'base.html' %}
{% block title %} Flask - List Products {% endblock %}

{% block content %}
    <div class="title">
        Catálogo de productos registrados
    </div>

    <div>
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Categoría</th>
                <th>Stock</th>
            </tr>

            {% for producto in lista_productos %}
                <tr>
                    <td>
                        <a href="{{ url_for('detalle_producto', id_producto=producto) }}">
                        {{ producto.nombre }}

                    </td>
                    <td>{{ producto.precio }} €</td>
                    <td>{{ producto.categoria }}</td>
                    <td>
                        {% if producto.stock > 0 %}
                            {{ producto.stock }}
                        {% else %}
                            <span class="stock">Sá gastao</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}