{% extends 'base.html' %}
{% block title %} Flask - Add Clientes {% endblock %}

{% block title_pag %}
    <div class="title">
        Formulario para añadir clientes
    </div>
{% endblock %}

{% block content %}

    {% if mensaje_user %}
        <div class="mensaje">
            {{ mensaje_user }}
        </div>
    {% endif %}

    <div class="section">
        <form class="add_clientes" method="POST">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Contraseña</th>
                    <th>Activo</th>
                </tr>

                <tr>
                    <td>
                        <label for="nombre_user" class="form_label"></label>
                        <input type="text" name="nombre_user" id="nombre_user" required size="40">
                    </td>

                    <td>
                        <label for="email_user" class="form_label"></label>
                        <input type="email" name="email_user" id="email_user" required>
                    </td>

                    <td>
                        <label for="passw_user" class="form_label"></label>
                        <input type="password" name="passw_user" id="passw_user" required>
                    </td>

                    <td>
                        <input type="radio" name="activo_user" id="activo" value="Activo" checked>
                        <label for="activo">Activo</label>

                        <input type="radio" name="activo_user" id="inactivo" value="Inactivo">
                        <label for="inactivo">Inactivo</label>
                    </td>
                </tr>

                <tr>
                    <td colspan="4">
                        <button type="submit" class="form_submit">Enviar</button>
                    </td>

                </tr>

            </table>
        </form>
    </div>
{% endblock %}